<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/assets/img/favicon.ico"/>
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">

        <!-- MD CSS -->
        <link rel="stylesheet" href="/assets/css/md.css">
		
		<!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
			<div class="headerleft">
			<a href="/" style="border:none" ><img src="/assets/img/goatpage.png" ></a>
			</div>
			
			<div class="headerright">
			<h1 >{{ page.title }}</h1>
			<p class="date">            
			{{ page.date | localize: "%d %B, %Y" }}

			</p>
            </div>
              
            </div>
			<div class="content">
                {{ content }}
			</div>
            <div class="footer">
    
              <div class="contact">
                &copy; 2013 GoAtPage
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
